table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


a td {
  border: unset;
}



tr:nth-child(even),
a:nth-child(even) {
  background-color: #dddddd;
}